.DS_Store
bank_agencies/raw/zipped_files/
bank_agencies/raw/unzipped_files/
*.rds
.Rproj.user
/page_img/illustrator_files
page_img/header.webp
page_data/text.md
svg_rascunho.html
bank_agencies/raw/agencies_2016_2025_jun.csv
bank_agencies/R/script_for_cailtin.R
bank_agencies/data/data.zip
